{% extends 'layouts/base.html' %}

{% block title %} Lista de Departamentos {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <h1 class="text-white">Lista de Departamentos</h1>
    </div>
  </div>
</div>

<!-- Contenido principal -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h3 class="mb-0">Departamentos Registrados</h3>
          <a href="{% url 'hierarchy:add_custodiam' %}" class="btn btn-success">
            Agregar Departamento
        </a>
        </div>
        <div class="card-body">
    <!-- Mostrar mensajes de Django -->
        <div class="container mt-4" style="min-height: 50px;"> 
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}

            <script>
              // Ocultar el mensaje después de 3 segundos
              setTimeout(function() {
                $(".alert").alert('close');
              }, 3000);
            </script>
          {% endif %}
        </div>

          <!-- Mostrar mensajes de Django -->
          {% if messages %}
            <div class="container mt-3">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <!-- Tabla de departamentos -->
          <div class="table-responsive">
            <table class="table align-items-center table-dark">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Descripción</th>
                  <th scope="col">Piso</th>
                  <th scope="col">Departamento Padre</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Creado el</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for department in departments %}
                  <tr>
                    <th scope="row" class="name">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ department.description }}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      {% if department.id_floor %}
                        {{ department.id_floor.description }}
                      {% else %}
                        <span class="text-muted">Sin piso asignado</span>
                      {% endif %}
                    </td>
                    <td class="status">
                      {% if department.parent %}
                        {{ department.parent.description }}
                      {% else %}
                        <span class="text-muted">Ninguno</span>
                      {% endif %}
                    </td>
                    <td class="completion">
                      {% if department.status %}
                        <span class="badge badge-dot mr-4">
                          <i class="bg-success"></i> Activo
                        </span>
                      {% else %}
                        <span class="badge badge-dot mr-4">
                          <i class="bg-danger"></i> Inactivo
                        </span>
                      {% endif %}
                    </td>
                    <td class="text-right">
                      <small class="text-muted">{{ department.created_at|date:"d/m/Y H:i" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Editar</a>
                          <a class="dropdown-item" href="#">Eliminar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>


          <!-- Paginación -->
          <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if departments.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ departments.previous_page_number }}" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Anterior</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Anterior</span>
                    </a>
                  </li>
                {% endif %}

                {% for num in departments.paginator.page_range %}
                  {% if departments.number == num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if departments.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ departments.next_page_number }}">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Siguiente</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Siguiente</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  {% include "includes/footer.html" %}
</div>

{% endblock content %}